aside.clients
    .container
      .row
        .col-md-3.col-sm-6
          a(href="#")
            img.img-responsive.img-centered(src="../img/logos/envato.jpg")
        .col-md-3.col-sm-6
          a(href="#")
            img.img-responsive.img-centered(src="../img/logos/designmodo.jpg")
        .col-md-3.col-sm-6
          a(href="#")
            img.img-responsive.img-centered(src="../img/logos/themeforest.jpg")
        .col-md-3.col-sm-6
          a(href="#")
            img.img-responsive.img-centered(src="../img/logos/creative-market.jpg")