section.euismo.panel.panel-default
				.row-fluit
					.col-lg-8
						h2 MAGNA SED ADIPSING
						h5 LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT
					.col-lg-4.text-right
						h6.negrita NOVEMBER 1, 2015
						h6 JANE DOE
						img(src="../images/avatar.jpg")
				.row-fluit
					img(src="../images/pic03.jpg")
					p Mauris neque quam, fermetum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus portittor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
					.row
						.col-lg-8
							buttom.btn.btn-default
								h5 CONTINUE READING
						.col-lg-4.text-right
							a(ref="#") GENERAL |
							a(ref="#").fa.fa-heart 28 |
							a(ref="#").fa.fa-comment 128 
			section.galeria.panel.panel-default
			section.contact.panel.panel-default
	footer