doctype html
html(lang="es")
	head
		title Future Imperfect
		meta(charset="utf-8")
		meta(name="viewport",content="whidth=device-width, initial-scale=1.0")
		link(href="css/bootstrap.css",rel="stylesheet",media="screen")
		link(href="css/font-awesome.min.css",rel="stylesheet",media="screen")
		link(href="css/main.css",rel="stylesheet",media="screen")
	body
		include nav.jade
		include magna.jade
		include ultricies.jade
		include euismo.jade
			
	script(src="js/jquery-min.js")
	script(src="js/bootstrap.min.js")