nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header.page-scroll
        button(type="button").navbar-toggle(data-toggle="collapse")(data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.page-scroll(href="#page-top") Start Bootstrap
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav.navbar-right
          li.hidden
            a(href="#page-top")
          li
            a.page-scroll(href="#services") SERVICE
          li
            a.page-scroll(href="#portfolio") PORTAFOLIO
          li
            a.page-scroll(href="#about") ABAUT
          li
            a.page-scroll(href="#team") TEAM
          li
            a.page-scroll(href="#contact") CONTACT