section#portfolio.bg-light-gray
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Portfolio
          h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
      .row
        .col-md-4.col-sm-6.portfolio-item
          .portfolio-caption
            a(href="#portfolioModal1").portfolio-link(data-toggle="modal")
            img.img-responsive(src="../img/portfolio/roundicons.png")
            h4 Round Icons
            p.text-muted Graphic Design
        .col-md-4.col-sm-6.portfolio-item
          .portfolio-caption
            a.portfolio-link(href="#portfolioModal2")(data-toggle="modal")
            img.img-responsive(src="../img/portfolio/startup-framework.png")
            h4 Startup Framework
            p.text-muted Website Design
        .col-md-4.col-sm-6.portfolio-item
          .portfolio-caption          
            a.portfolio-link(href="#portfolioModal3")(data-toggle="modal")
            img.img-responsive(src="../img/portfolio/treehouse.png")
            h4 Treehouse
            p.text-muted Website Design
        .col-md-4.col-sm-6.portfolio-item
          .portfolio-caption
            a(href="#portfolioModal4").portfolio-link(data-toggle="modal")
            img.img-responsive(src="../img/portfolio/golden.png")
            h4 Golden
            p.text-muted Graphic Design
        .col-md-4.col-sm-6.portfolio-item
          .portfolio-caption
            a.portfolio-link(href="#portfolioModal5")(data-toggle="modal")
            img.img-responsive(src="../img/portfolio/escape.png")
            h4 Escape
            p.text-muted Website Design
        .col-md-4.col-sm-6.portfolio-item
          .portfolio-caption
            a.portfolio-link(href="#portfolioModal6")(data-toggle="modal")
            img.img-responsive(src="../img/portfolio/dreams.png")
            h4 Dreams
            p.text-muted Website Design